.select-preset {
    background-color: #fff;
    border-radius: 3px;
    color: black;
    font-family: 'Voltaire', sans-serif;
    font-size: 18px !important;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    padding: 7px 10px;
    transition: 0.3s ease;
}

.select-preset:hover {
    background-color: transparent;
    transition: 0.2s ease;
    color: white;
}